<html>
    <head>
    </head>
    <body>
        <div class="container">
            <h1> SELECT YOUR PAYMENT MODE</h1>
            <img src="allpay.jpeg">
            <h3><input type="radio" name="payment">Google Pay</h3>
            <h3><input type="radio" name="payment" >PhonePe</h3>
            <h3><input type="radio" name="payment" >Amazon Pay </h3>
            <h3><input type="radio" name="payment" >Paytm </h3>
            <input type="button"   class="btn btn-success" (click)="onresrvationClick()" value="Pay"  >            
        </div>
    </body>   

    </html>