

<html>
    <head>
       
    </head>
    <body>
        <div class="container">
            <h1> ENTER NETBANKING  DETAILS</h1>
            
            <div class="second-row">
                <div class="card-number">
                    <h3>ENTER BANK NAME</h3>
                    <div class="input-field">
                        <input type="text">
                    </div>
                </div>
                
            </div>


            <div class="second-row">
                <div class="card-number">
                    <h3>ENTER CUSTOMER NAME </h3>
                    <div class="input-field">
                        <input type="text">
                    </div>
                </div>
                
            </div>


            <div class="second-row">
                <div class="card-number">
                    <h3>ENTER CUSTOMER ID</h3>
                    <div class="input-field">
                        <input type="text">
                    </div>
                </div>
                
            </div>

            <div class="second-row">
                <div class="card-number">
                    <h3>ENTER ACCOUNT NUMBER </h3>
                    <div class="input-field">
                        <input type="text">
                    </div>
                </div>
                
            </div>

            <div class="second-row">
                <div class="card-number">
                    <h3>ENTER IFSC CODE </h3>
                    <div class="input-field">
                        <input type="text">
                    </div>
                </div>
                
            </div>


            <input type="button"  class="btn btn-success"  (click)="onresrvationClick()" value="Pay" >
        </div>
    </body>
    </html>