
<html>
    <head>
       
    </head>
    <body>
        
        <div class="container ">
            <h1> SELECT YOUR PAYMENT </h1>
            
            
            <input type="button"   (click)="oncreditcardClick()"  value="Credit Card"> 
            <input type="button"  (click)="ondebitcardClick()"  value="Debit Card"> 
            <input type="button"  (click)="onupitransactionClick()"  value="UPI Transaction">
            <input type="button"  (click)="onNetBankingClick()"  value="Net Banking">
            
            
        </div>
    </body>
    </html>