

<html>
<head>
   
</head>
<body> 
    <div class="container">
        <h1>ENTER CREDIT CARD DETAILS</h1>
        <div class="first-row">
            <div class="owner">
                <h3>Card Owner Name</h3>
                <div class="input-field ">
                    <input required type="text" >
                </div>
            </div>
            <div class="cvv">
                <h3>CVV</h3>
                <div class="input-field">
                    <input required type="password" >
                </div>
            </div>
        </div>
        <div >
            <div class="card-number">
                <h3>Card Number</h3>
                <div class="input-field">
                    <input  required type="text" >
                </div>
            </div>
        </div>
        <div >
            <h3>Vaild Till</h3>
            <div class="selection">
                <div>
                    <select name="months" id="months">
                        <option value="Jan">Jan</option>
                        <option value="Feb">Feb</option>
                        <option value="Mar">Mar</option>
                        <option value="Apr">Apr</option>
                        <option value="May">May</option>
                        <option value="Jun">Jun</option>
                        <option value="Jul">Jul</option>
                        <option value="Aug">Aug</option>
                        <option value="Sep">Sep</option>
                        <option value="Oct">Oct</option>
                        <option value="Nov">Nov</option>
                        <option value="Dec">Dec</option>
                      </select>
                      <select name="years" id="years">                  
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>
                        <option value="2036">2036</option>
                        <option value="2037">2037</option>
                        <option value="2038">2038</option>
                        <option value="2039">2039</option>
                        <option value="2040">2040</option>
                        
                      </select>
                      
                </div>
                
                   
                    <div class="cards">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/2560px-MasterCard_Logo.svg.png" >
                        <img src="https://logos-world.net/wp-content/uploads/2020/04/Visa-Logo.png">
                        <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png">
                    </div>

                
            </div>    
        </div>
    <div>
        
    </div>
        <input type="button"   class="btn btn-success"  (click)="onresrvationClick()" value="Pay" >
    </div>
</body>
</html>